<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            {{page.title}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">
                            engineering
                        </span>
                        Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Embedded Systems</a></li>
                        <li><a class="dropdown-item" href="#">Web Development</a></li>
                        <li><a class="dropdown-item" href="#">Android Development</a></li>
                        <li><a class="dropdown-item" href="#">Desktop Development</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All Projects</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            api
                        </span>
                        APIs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            account_tree
                        </span>
                        Device Drivers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            memory
                        </span>
                        Firmwares
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            web_asset
                        </span>
                        Applications
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            auto_stories
                        </span>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="material-icons">
                            connect_without_contact
                        </span>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>