<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html %}
    <br><br><br><br><br><br>
    <div class="input-group mb-3 container">
        <input type="text" class="form-control search-input-custom" placeholder="Search Something"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary search-custom" type="button" id="button-addon2">
            <span class="material-icons">
                search
            </span>
        </button>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?projector,electronic,programming"
                        class="card-img-top" alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">Pocket Projector</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?nintendo,electronic,programming" class="card-img-top"
                        alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">Pocket NES</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?synthesizer,electronic" class="card-img-top"
                        alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">MIDIUINO</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?light,fan,home,automation,remote,electronic,programming"
                        class="card-img-top" alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">Android Room Controller</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?avr,chip,microcontroller,electronic,programming"
                        class="card-img-top" alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">AtMega328P Bare Metal</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/800x400/?firmware,electronic,programming" class="card-img-top"
                        alt="Thumbnail">
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">AVR Firmware Development</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Documentation</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-custom">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>